<!DOCTYPE html>
<html>

<head>
  <title>Pimpom</title>
  <%= favicon_link_tag %>

    <%= csrf_meta_tags %>
      <meta name="theme-color" content="#ac57bc" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <nav>
    <div class="nav-wrapper purple lighten-1">
      <a href="/" class="brand-logo center">PimPom</a>

    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <footer class="page-footer purple lighten-1">


    <div class="container">
      <div class="center">
        <div class="footnote"> made with
          <3 by @pvsukale</div>

        </div>


      </div>

  </footer>

</body>

</html>